.neon{
  color: #c237db;
}

/* main */
.containerPrincipal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

@media screen and (max-width: 1060px) {
  .containerPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
  }
  
}
@media screen and (max-width: 768px) {
  .containerPrincipal{
    display: grid;
    grid-template-columns:1fr;
    gap: 10px;
    justify-items: center;
  }
  
}