.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

/* logo navbar */
.logo {
    height: 40px;
    width: 40px;
    margin: 10px;
}

.link {
    text-decoration: none;
    color: white;
}

.link1 {
    text-decoration: none;
    color: black;
}

/* imagenes card */
.imgCard {
    display: inline;
    width: 30%;
    height: 40%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    object-fit: cover;
}
.card{
    max-height: 300px;
}


/* main */
.containerPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100px;
    background-color: black;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__efecto {
    display: grid;
    grid-template-rows: 1fr;
    text-decoration: none;
    height: auto;
    width: auto;
    color: white;
    padding: 5px;
    font-size: 20px;
    transition: all 0.3s;
}

.footer__efecto:hover {
    border-radius: 5px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 5px;
    transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}