.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

/* logo navbar */
.logo {
    height: 40px;
    width: 40px;
    margin: 10px;
}

.link {
    text-decoration: none;
    color: white;
}
.link-nav {
    text-decoration: none;
    color: black;
}



/* imagenes card */
.imgCard {
    display: inline;
    padding: 5px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    object-fit: cover;
}
.card{
    max-height: 300px;
}

.neon{
    color: #c237db;
}
.sombra {
    background-color: black;
    transition: all 0.4s;
    }
.sombra:hover {
        box-shadow: 0 25px 50px -12px #c237db;
        transform: scale(1.1);
    }
/* main */

.containerPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

